body {
  margin: 0;
  user-select: none;
/*   background-color: hsl(200, 90%, 97%); */
  background-color: red;
  overscroll-behavior-y: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
