#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  font-size: 20px;
  background-color: hsl(200, 90%, 97%);
/*   background-color: inherit; */
  box-shadow: 0 0 4px hsl(200, 10%, 41%);
  z-index: 2;
}

#header .icon {
}

#header .icon a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

#header .icon #save{
  display: block;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}

#header .icon #save:active{
  opacity: 0.5;
}

#header #noteTitle {
  padding: 10px;
  font-weight: 700;
}

#header #tellSave {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(200, 35%, 90%);
  /* font-size: 1rem; */
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-out;
}

#cardContainer {
  margin: 45px 0px;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
}

#cardContainer .cardUnit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  /* background-color: hsl(200, 90%, 97%); */
  background-color: inherit;
  box-shadow: 0 0 2px hsl(200, 10%, 41%);
  margin: 10px 0;
  position: relative;
  z-index: 2;
}

#cardContainer .cardUnit:focus-within {
  filter: drop-shadow(0 1px 2px hsl(200, 10%, 41%));
  box-shadow: 0 1px 2px hsl(200, 10%, 41%);
  background-color: hsl(0, 0%, 100%);
}

.cardUnit input {
  width: 40%;
  /* background-color: hsl(200, 90%, 97%); */
  background-color: inherit;
  border: 1px solid hsl(200, 90%, 10%);
}

input {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

.cardUnit input:focus {
  background-color: hsl(0, 0%, 100%);
}

#cardContainer .cardUnit:focus-within input {
  background-color: hsl(0, 0%, 100%);
}

#cardContainer .cardUnit .cardDelete {
  display: block;
  cursor: pointer;
}

#addNewWord {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
