#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  font-size: 20px;
  background-color: hsl(200, 90%, 97%);
  box-shadow: 0 0 4px hsl(200, 10%, 41%);
}

#header #back {
  position: absolute;
  left: 0;
}

#header #back a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

#header #noteTitle {
  padding: 10px;
  font-weight: 700;
}

#cardContainer {
  margin-top: 45px;
  padding: 20px 10px;
  font-weight: 500;
}

#cardContainer .cardUnit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: hsl(200, 90%, 97%);
  box-shadow: 0 0 2px hsl(200, 10%, 41%);
  margin: 10px 0;
  padding-right: 20px;
  transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#cardContainer .cardUnit .word, .meaning {
  flex: 1;
  text-align: center;
  padding: 10px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardContainer .cardUnit .meaning {
  color: rgba(0, 0, 0, 0);
  transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#cardContainer .cardUnit:hover {
  background-color: #ffffff;
}

#cardContainer .cardUnit:hover .meaning {
  color: inherit;
}
